<footer>
<div class="section3">
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="d-flex flex-row">
      <i class="fas fa-question fa-3x m-2"></i>
      <div class="d-flex flex-column">
        <h3 class"m-2">24/7 support</h3>
        <p class="par">this is an example of Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. </p>
      </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="d-flex flex-row">
    <i class="fas fa-seedling fa-3x m-2"></i>
    <div class="d-flex flex-column">
      <h3 class"m-2">marketting</h3>
      <p class="par">this is an example of Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. </p>
    </div>
    </div>
</div>

<div class="col-md-4">
  <div class="d-flex flex-row">
  <i class="fas fa-rocket fa-3x m-2"></i>
  <div class="d-flex flex-column">
    <h3 class"m-2">speed</h3>
    <p class="par">this is an example of Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. </p>
  </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="d-flex flex-row">
    <i class="fas fa-user-shield fa-3x m-2"></i>
    <div class="d-flex flex-column">
      <h3 class"m-2">24/7 support</h3>
      <p class="par">this is an example of Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. </p>

    </div>
    </div>
</div>
<div class="col-md-4">
  <div class="d-flex flex-row">
  <i class="fas 	fa fa-copyright fa-3x m-2"></i>
  <div class="d-flex flex-column">
    <h3 class"m-2">copyright</h3>
    <p class="par">this is an example of Once upon a time there was an old woman who loved baking gingerbread. She would bake gingerbread cookies, cakes, houses and gingerbread people, all decorated with chocolate and peppermint, caramel candies and colored frosting. </p>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</footer>
